includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  tmpDir: storage/phpstan
  paths:
    - app/
    - database/
    - routes/

  excludePaths:
    - database/migrations/*
    - database/factories/*
    - database/seeders/*
    - storage/*
    - vendor/*
    - tests/*

  level: 7

  checkMissingIterableValueType: true
  inferPrivatePropertyTypeFromConstructor: true
  checkUninitializedProperties: true
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: false

  universalObjectCratesClasses:
    - Illuminate\Database\Eloquent\Model

  bootstrapFiles:
    - vendor/larastan/larastan/bootstrap.php

  ignoreErrors:
    - '#should return Illuminate\\Database\\Eloquent\\Relations\\#'
