includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
    - tests

  level: max

  checkMissingIterableValueType: true
  inferPrivatePropertyTypeFromConstructor: true
  checkUninitializedProperties: true
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: false

  universalObjectCratesClasses:
    - Illuminate\Database\Eloquent\Model

  bootstrapFiles:
    - vendor/larastan/larastan/bootstrap.php

  ignoreErrors:
    - '#should return Illuminate\\Database\\Eloquent\\Relations\\#'
