includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
    - tests

  level: max

  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
